@model GraniteHouse.Models.ViewModel.AppointmentDetailsViewModel
@using GraniteHouse.Extensions
@using GraniteHouse.Utility

@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Delete Appointment</h2>

<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Appointment.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.CustomerName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.CustomerName" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.CustomerEmail"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.CustomerEmail" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.AppointmentDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.AppointmentDate" readonly id="datepicker" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.AppointmentTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.AppointmentTime" id="timepicker" readonly type="text" class="timepicker form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.CustomerPhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.CustomerPhoneNumber" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.SalesPerson"></label>
                </div>
                <div class="col-8">
                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <input asp-for="@Model.Appointment.SalesPerson.Name" readonly class="form-control" />
                        <input asp-for="@Model.Appointment.SalesPersonId" hidden />

                    }
                    else
                    {
                        <select asp-for="@Model.Appointment.SalesPersonId" disabled asp-items="Model.SalesPerson.ToSelectListItemString(Model.Appointment.SalesPersonId)" class="form-control"></select>

                    }
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.isConfirmed"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.isConfirmed" readonly class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-6">
            @* Partial View *@
            <partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Products" />
        </div>



        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" asp-route-id="@Model.Appointment.Id" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>


@section Scripts{

    <script>
       $(document).ready(function () {
            var appointmentTime = document.getElementById('datepicker').value;
            var splitData = "";
            if (appointmentTime.indexOf(" ") > 0) {
                splitData = appointmentTime.split(" ");

            }
            else {
                splitData = appointmentTime.split("T");

            }

            var time = splitData[1].substring(0, 5);
            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1);

            }
            var amPmTime = splitData[2];
            $('#datepicker').attr('value', splitData[0]);
            $('#timepicker').attr('value', time + ' ' + amPmTime);

        });

    </script>
}